<div style="width:270px; border: 1px solid #DDDDDD; background-color:#FFFFFF; padding:8px; box-shadow:0px 0px 1px 1px #EEEEEE; margin-bottom:10px; border-radius:5px;"
onmouseover="this.style.border='1px solid #FF4433'" onmouseout="this.style.border='1px solid #DDDDDD'">
    <a href="/#!/{{card.thread_id}}" target="_blank"><img ng-src="http://i.imgur.com/{{card.url}}.jpg" border="0" width="270" class="img_hover" /></a>
    <div style="width:270px; font-size:14px; line-height:170%; margin-top:3px; padding:10px 0px 5px 0px; font-weight:bold; border-top:1px solid #DDDDDD;" class="font_red">
    <a href="/#!/{{card.thread_id}}" target="_blank">{{card.title}}</a>
    </div>
</div>
</div>