<section>
<div class="font_black" style="padding:30px 0px 15px 0px; width:800px; font-size:14px; line-height:165%;" align="left">
1. Introduction<br/><br/>
We take your privacy seriously. This privacy policy describes how and why we obtain, store and process data which can identify you. We may update this policy from time to time and shall indicate on the web site when changes have been made.<br/><br/>
2. The Information we collect<br/><br/>
Information is collected from you when you access our website, or when you contribute to or use some of the advanced features on the site. The information we collect is clearly set out on the web page on which we collect it. In addition, we may collect your IP address and use cookies unless you configure your web browser not to accept them.<br/><br/>
3. Why we collect it<br/><br/>
We collect information about you so that we can personalize your use of the site, assist your use of the site and improve the site generally. Depending upon your selections for our data protection questions we may arrange for you to be sent information about related products and services from us and carefully selected third parties.<br/><br/>
4. Who we disclose it to<br/><br/>
We use third-party advertising companies to serve ads when you visit our Website. These companies may use information (not including your name, address email address or telephone number) about your visits to this and other Web sites in order to provide advertisements about goods and services of interest to you.<br/><br/>
5. Security<br/><br/>
Keeping information about you secure is very important to us and certain sections of the site may encrypt data using SSL or a comparable standard. However, no data transmission over the Internet can be guaranteed to be totally secure. As a result, whilst we strive to protect your personal information, we cannot ensure or warrant the security of any information which you send to us, and you do so at your own risk.<br/><br/>
</div>
<div class="font_white"><a href="/#!/home" class="button_red" style="margin:20px; line-height:300%;">回到首頁</a></div>
</div>
</section>